@font-face {
  font-family: 'icomoon';
  src: url('./../content/icomoon/icomoon.eot?syxmaw');
  src: url('./../content/icomoon//icomoon.eot?syxmaw#iefix') format('embedded-opentype'),
    url('./../content/icomoon//icomoon.ttf?syxmaw') format('truetype'),
    url('./../content/icomoon//icomoon.woff?syxmaw') format('woff'),
    url('./../content/icomoon//icomoon.svg?syxmaw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu1:before {
  content: "\e601";
}

.icon-download:before {
  content: "\e906";
}

.icon-back:before {
  content: "\e907";
}

.icon-upload:before {
  content: "\e908";
}

.icon-next:before {
  content: "\e909";
}

.icon-close:before {
  content: "\e918";
}

.icon-right-arrow:before {
  content: "\e91d";
}

.icon-left-arrow:before {
  content: "\e92a";
}

.icon-menu1 {
  font-size: 22px;
  color: #400e03;
  font-weight: 800;

  @media (min-width: 992px) {
    display: none;
  }
}

.icon-close {
  font-size: 22px;
  color: #400e03;
  font-weight: 800;

  @media (min-width: 992px) {
    display: none;
  }
}

.icon-next {
  @media (min-width: 992px) {
    display: none;
  }
}


.slick-list {
  margin: 0 -15px;
  @media (max-width:991px) {
    margin: 0 -5px;
  }
}

.slick-slide>div {
  padding: 0 15px;
  @media (max-width:991px) {
    padding: 0 5px;
  }
}

.slick-dots {
  bottom: -56px !important;
}

.slick-dots li {}

.slick-dots li.slick-active {}


.slick-dots li button {
  background: #ED1C24 !important;
  border-radius: 100%;
  width: 6px !important;
  height: 6px !important;
}

.slick-dots li button::before {
  display: none !important;
}

.slick-dots li.slick-active button {
  width: 20px !important;
  height: 20px !important;
}

.slick-arrow {
  background: #400E03 !important;
  width: 44px !important;
  height: 44px !important;

  @media (max-width:991px) {
    display: none !important;
  }
}

.slick-arrow.slick-prev {
  left: -50px !important;
}

.slick-arrow.slick-next {
  right: -50px !important;
}

.slick-arrow.slick-prev::before {
  content: "\e92a" !important;
  font-family: 'icomoon';
}

.slick-arrow.slick-next::before {
  content: "\e91d" !important;
  font-family: 'icomoon';
}